  <nav class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand text-uppercase font-weight-bold" href="#">Bupposo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="collapse navbar-collapse nav  ">
                <li class="nav-item active">
                  <a class="nav-link text-uppercase font-weight-bold" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-uppercase font-weight-bold" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-uppercase font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Bride</a>
                    <a class="dropdown-item" href="#">Groom</a>
                  </div>
                </li>
              </ul>

              <ul class="collapse navbar-collapse nav justify-content-end ">
                  <li class="nav-item active">
                    <a routerLink = "about-us"  class="nav-link text-uppercase font-weight-bold" >About Us <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a routerLink ="help" class="nav-link text-uppercase font-weight-bold" >Help </a>
                  </li>
                  <li class="nav-item dropdown">
                      <a  routerLink = "contact-us" class="nav-link text-uppercase font-weight-bold" >Contact</a>
                  </li>
                </ul>
            </div>
          </nav>
    </div>
  </nav>
  